<form
  [formGroup]="telefonoForm"
  (ngSubmit)="guardarTelefono()"
  class="telefono-form"
>
  <mat-card>
    <mat-toolbar color="primary" class="mb-3">
      <mat-icon color="primary" class="cel-icon mat-text-center"
        >smartphone</mat-icon
      >
      <mat-card-title class="mat-text-center"
        >Agregar Teléfono a
        {{ cliente?.nombre + " " + cliente?.apellido }}</mat-card-title
      >
    </mat-toolbar>

    <mat-card-content>
      <div class="d-flex flex-column gap-3">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Marca *</mat-label>
          <input matInput formControlName="marca" />
          <mat-error *ngIf="telefonoForm.get('marca')?.hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>Modelo *</mat-label>
          <input matInput formControlName="modelo" />
          <mat-error *ngIf="telefonoForm.get('modelo')?.hasError('required')">
            Este campo es requerido
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-100">
          <mat-label>IMEI *</mat-label>
          <input matInput formControlName="imei" />
          <mat-error *ngIf="telefonoForm.get('imei')?.hasError('required')">
            Este campo es requerido
          </mat-error>
          <mat-error *ngIf="telefonoForm.get('imei')?.hasError('pattern')">
            El IMEI debe contener solo números
          </mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>
