<!-- <h2>Registrar Nuevo Teléfono</h2>

<form [formGroup]="telefonoForm" (ngSubmit)="guardar()">
  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <input matInput formControlName="marca" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Modelo</mat-label>
    <input matInput formControlName="modelo" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>IMEI</mat-label>
    <input matInput formControlName="imei" />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Guardar</button>
</form> -->
