<!-- <h2>Listado de Reparaciones</h2>

<mat-table [dataSource]="reparaciones" class="mat-elevation-z8">
  <ng-container matColumnDef="fecha">
    <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
    <mat-cell *matCellDef="let rep"> {{ rep.creado_en | date:'short' }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="cliente">
    <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
    <mat-cell *matCellDef="let rep"> {{ rep.cliente }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="telefono">
    <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
    <mat-cell *matCellDef="let rep"> {{ rep.marca }} {{ rep.modelo }} </mat-cell>
  </ng-container>

  <ng-container matColumnDef="estado">
    <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
    <mat-cell *matCellDef="let rep"> {{ rep.estado }} </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['fecha','cliente','telefono','estado']"></mat-header-row>
  <mat-row *matRowDef="let row; columns: ['fecha','cliente','telefono','estado']"></mat-row>
</mat-table> -->
