.d-flex.flex-column {
  display: flex;
  flex-direction: column;
}

.mat-mdc-card-content {
  padding: 20px 50px 0 50px;
}

.reparacion-form {
  width: 70%;
}

.settings-icon {
  margin-right: 10px;
}

.cliente-info {
  width: 70%;
  margin-bottom: 50px;
}
